<ion-app>
    <!-- <ion-router-outlet></ion-router-outlet> -->
    <ion-split-pane contentId="principal" when="md">
        <ion-menu side="start" contentId="principal" menuId="primerMenu">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu principal</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle autoHide="false" *ngFor="let item of items | async">
                        <ion-item [routerLink]="item.redirectTo">
                            <ion-icon slot="start" color="primary" [name]="item.icon"></ion-icon>
                            <ion-label>{{item.name}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="principal"></ion-router-outlet>
    </ion-split-pane>
</ion-app>